<div class="container creation">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <div class="form-login" id="centerbuttons">
      <h3 class="text-center">Change the booking date</h3>

          <%= @comic.title %>
          <%= cl_image_tag @comic.photo, height: 300, width: 400, crop: :fill %>
          <h2>Change the date</h2>
          <%= render 'form', booking: @booking %>

        </div>

      </div>
    </div>
  </div>
<%= link_to 'Back to profile', profile_path(@profile) %>
