<div class="wrapper display-home">
  <div class="container">
    <div class="row">
      <p> <% @bookings.each do |booking|%></p>
      <div class="col-xs-12 col-sm-4 col-lg-3">
        <p><strong><%= @comic.title %></strong></p>
        <%= cl_image_tag @comic.photo, height: 300, width: 400, crop: :fill %>
        <p><% @booking.start_time %></p>
        <p><% @booking.end_time %></p>
        <p><%= link_to 'Change date', bookings_edit_path(@booking) %></p>
        <%= link_to 'Cancel this booking', @booking, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </div>
      <% end %>
    </div>
  </div>
</div>
