<div class="map_box">
  <% profil.user.comics.each do |comic| %>
    <div> <% if comic.photo? %>
      <%= cl_image_tag comic.photo.url(:resize) %>
      <% end %>
    </div>
    <%= link_to "Details", comic_path(comic), target: :blank, class: "btn-add-comics" %>
  <% end %>

</div>
