<div class="map_box">
  <% profil.user.comics.each do |comic| %>
    <h3><%= comic.title %></h3>
    <% if comic.photo? %>
      <%= cl_image_tag comic.photo.url(:resize) %>
    <% end %>
    <%= link_to "Details", comic_path(comic), target: :blank, class: "btn btn-primary btn-lg" %>
  <% end %>

</div>
