<div id="footer" class="footer">
   <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <span class="col-xs-8 text-right footer-brand">
          <p><%= image_tag("logo_bedetek.png") %>
              Moule à gaufres @ LeWagon</p>
          </span>
        </div>
      </div>
</div>
