.scroll{
 overflow: scroll;
 height: 700px;
}

.card-map {

  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 15px;
  transition: all 0.15s ease;
  position: relative;
  background-color: #F1F3F4;
    .content {
      margin-left: 10px;
}
    .content h3 {
      color: black;
      font-weight: bold;
      font-size: 18px;
      margin-top: 0;
}
    .content p {
      font-weight: lighter;
      color: black;
      margin-bottom: 0;
      font-size: 13px;
}
}
.card-map:hover {
      background: #f7f7fa;
      cursor: pointer;
}
