// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap-datetimepicker';

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

.mannequin{
  width : 400px;
}

#centerbuttons {
  width:250px;
  margin:0 auto;
  text-align: center;
}

.creation{

  background-color: lightgrey;
  margin-top: 100px;
  padding-bottom: 10px;
  width: 800px;
  border-radius: 15px;
  margin-bottom: 100px;
}

html{
    height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{

 position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  }

.alaoulagaine{
  padding-top: 150px;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
        text-align: center;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}

.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
  opacity:0.9;
  margin-bottom: 40px;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {
  background: #3b5998;
  text-align: center;
  position: center;
}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}


